alembic==1.9.3 ; python_version >= "3.10" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.10" and python_version < "4.0" and platform_machine == "aarch64" or python_version >= "3.10" and python_version < "4.0" and platform_machine == "ppc64le" or python_version >= "3.10" and python_version < "4.0" and platform_machine == "x86_64" or python_version >= "3.10" and python_version < "4.0" and platform_machine == "amd64" or python_version >= "3.10" and python_version < "4.0" and platform_machine == "AMD64" or python_version >= "3.10" and python_version < "4.0" and platform_machine == "win32" or python_version >= "3.10" and python_version < "4.0" and platform_machine == "WIN32"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
hupper==1.11 ; python_version >= "3.10" and python_version < "4.0"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "4.0"
mako==1.2.4 ; python_version >= "3.10" and python_version < "4.0"
markupsafe==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
pastedeploy==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
plaster-pastedeploy==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
plaster==1.1.2 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.14.0 ; python_version >= "3.10" and python_version < "4.0"
pyramid-debugtoolbar==4.10 ; python_version >= "3.10" and python_version < "4.0"
pyramid-jinja2==2.10 ; python_version >= "3.10" and python_version < "4.0"
pyramid-mako==1.1.0 ; python_version >= "3.10" and python_version < "4.0"
pyramid-retry==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
pyramid-tm==2.5 ; python_version >= "3.10" and python_version < "4.0"
pyramid==2.0.1 ; python_version >= "3.10" and python_version < "4.0"
setuptools==67.2.0 ; python_version >= "3.10" and python_version < "4.0"
sqlalchemy==2.0.3 ; python_version >= "3.10" and python_version < "4.0"
transaction==3.0.1 ; python_version >= "3.10" and python_version < "4.0"
translationstring==1.4 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
venusian==3.0.0 ; python_version >= "3.10" and python_version < "4.0"
waitress==2.1.2 ; python_version >= "3.10" and python_version < "4.0"
webob==1.8.7 ; python_version >= "3.10" and python_version < "4.0"
zope-deprecation==4.4.0 ; python_version >= "3.10" and python_version < "4.0"
zope-interface==5.5.2 ; python_version >= "3.10" and python_version < "4.0"
zope-sqlalchemy==1.6 ; python_version >= "3.10" and python_version < "4.0"
-e .
